body {
    margin: 0;
    font-family: Arial, rocksalt;
    background-color: #f6f6f6;
    color: #333;
}
header {
    background-color: #005f73;
    color: white;
    padding: 1rem;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
.hero {
    background-color: #94d2bd;
    padding: 2rem;
    text-align: center;
}
.intro {
    padding: 2rem;
    text-align: center;
}
footer {
    background-color: #005f73;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.logo {
    height: 40px;
    width: auto;
    max-width: 15px;
    margin-right: 10px;
    object-fit: contain;
}
@media (max-width: 50px) {
    .logo {
        height: 30px;
    }
}
